
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LA TRANCA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="~/Content_LaTranca/css_iu/owl.carousel.css">
    <link rel="stylesheet" href="~/Content_LaTranca/css_iu/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content_LaTranca/css_iu/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content_LaTranca/css_iu/style.css">
    <link rel="stylesheet" href="~/Content_LaTranca/css_iu/ionicons.min.css">
    <link rel="stylesheet" href="~/Content_LaTranca/css_iu/animate.css">
    <link rel="stylesheet" href="~/Content_LaTranca/css_iu/responsive.css">
    <!--Linea para cambiar el color al navegar-->
    <link href="~/Content_LaTranca/css_iu/bootstrap1.min.css" rel="stylesheet">
    <link href="~/Content_LaTranca/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content_LaTranca/css_iu/animate.css" rel="stylesheet">
    <link href="~/Content_LaTranca/css_iu/style.css" rel="stylesheet">
    <link href="~/Content_LaTranca/Gritter/jquery.gritter.css" rel="stylesheet" />

    <!--Css -->
    @RenderSection("Css", required: false)
</head>
<body>

    <!-- Header Start -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- header Nav Start -->
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <a class="navbar-brand" href="/Home/InicioLaTranca">
                                    <img style="width: 250px" src="~/Content_LaTranca/img/portfolio/logo.png" alt="Logo">
                                </a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->

                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/Productos/Index">Productos</a></li>
                                <li><a href="/Eventos/Index">Eventos</a></li>
                                <li><a href="/Contactos/Index">Contactanos</a></li>
                                
                                @if (User.IsInRole("TR_COLABORADOR"))
                                {
                                    <li>
                                        <a href="/Contactos/Index">Operaciones</a>
                                    </li>
                                }

                                @Html.Partial("_LoginPartialLaTranca")
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="/Ventas/Carrito">
                                        <li>
                                            <img style="width: 25px" src="~/Content_LaTranca/img/portfolio/carro.png">
                                        </li>
                                    </a>
                                </div>
                            </ul>

                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header><!-- header close -->
    <!-- Slider Start -->
    @RenderBody();


    <!-- Mainly scripts -->
    <script src="~/Content_LaTranca/js/jquery-2.1.1.js"></script>
    <script src="~/Content_LaTranca/js/bootstrap.min.js"></script>
    <script src="~/Content_LaTranca/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Content_LaTranca/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content_LaTranca/js/plugins/dataTables/datatables.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/Content_LaTranca/js/inspinia.js"></script>
    <script src="~/Content_LaTranca/js/plugins/pace/pace.min.js"></script>

    <!-- FooTable -->
    <script src="~/Content_LaTranca/js/plugins/footable/footable.all.min.js"></script>

    <!-- Js -->
    <script src="~/Content_LaTranca/js_iu/bootstrap.min.js"></script>
    <script src="~/Content_LaTranca/js_iu/owl.carousel.min.js"></script>
    <script src="~/Content_LaTranca/js_iu/plugins.js"></script>
    <script src="~/Content_LaTranca/js_iu/min/waypoints.min.js"></script>
    <script src="~/Content_LaTranca/js_iu/jquery.counterup.js"></script>
    <script src="~/Content_LaTranca/js_iu/main.js"></script>

    <script src="~/Content_LaTranca/Gritter/jquery.gritter.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="~/Content_LaTranca/js/google-map-init.js"></script>

    <!--Scrits -->
    @RenderSection("Scripts", required: false)
</body>
</html>