
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLaTranca.cshtml";
}
<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>
                        <b>LA TRANCA</b>
                    </h1>
                    <p>Carrito de Compras</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Start -->

<section id="portfolio-work">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                        <div class="ibox">

                            <div class="ibox-content">
                                <div class="row">

                                    <div class="col-md-12">
                                        <CENTER><h1>¡Su pago se ha realizado con éxito!</h1></CENTER>
                                    </div>


                                    <center>
                                        <a href="/Home/InicioLaTranca">
                                            <div class="col-md-12">
                                                <button class="btn btn-primary" type="submit">¡Regresar a la pagina principal!</button>
                                            </div>
                                        </a>
                                    </center>
                                </div>

                            </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
