
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLaTranca.cshtml";
}
<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>
                        <b>LA TRANCA</b>
                    </h1>
                    <p>Carrito de compras.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Start -->

<section id="portfolio-work">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9">

                        <div class="ibox">
                            <div class="ibox-title">
                                <span class="pull-right">
                                    (
                                    <strong>5</strong>) items
                                </span>
                                <h5>Productos en el carrito de pedidos</h5>
                            </div>
                            <div class="ibox-content">


                                <div class="table-responsive">
                                    <table class="table shoping-cart-table">

                                        <tbody>
                                            <tr>
                                                <td width="90">
                                                    <div class="cart-product-imitation">
                                                    </div>
                                                </td>
                                                <td class="desc">
                                                    <h3>
                                                        <a href="#" class="text-navy">
                                                            Café Molido La Tranca
                                                        </a>
                                                    </h3>
                                                    <p class="small">
                                                        Selección de los mejores granos de Cajamarca.
                                                    </p>
                                                    <dl class="small m-b-none">
                                                        <dt>Descripción</dt>
                                                        <dd>Este producto contiene 250 gramos de puro café.</dd>
                                                    </dl>

                                                    <div class="m-t-sm">
                                                        <a href="#" class="text-muted">
                                                            <i class="fa fa-gift"></i>Agregar a Favoritos
                                                        </a>
                                                        |
                                                        <a href="#" class="text-muted">
                                                            <i class="fa fa-trash"></i> Eliminar del carrito
                                                        </a>
                                                    </div>
                                                </td>

                                                <td>
                                                    S/.15.00
                                                    <!--<s class="small text-muted">$230,00</s>-->
                                                </td>
                                                <td width="65">
                                                    <input type="text" class="form-control" placeholder="1">
                                                </td>
                                                <td>
                                                    <h4>
                                                        S/.15.00
                                                    </h4>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table shoping-cart-table">

                                        <tbody>
                                            <tr>
                                                <td width="90">
                                                    <div class="cart-product-imitation">
                                                    </div>
                                                </td>
                                                <td class="desc">
                                                    <h3>
                                                        <a href="#" class="text-navy">
                                                            Café Tostado La Tranca
                                                        </a>
                                                    </h3>
                                                    <p class="small">
                                                        Selecionado de los mejores granos de café de Cajamarca.
                                                    </p>
                                                    <dl class="small m-b-none">
                                                        <dt>Descripcióm</dt>
                                                        <dd>Este producto contiene 300 gramos de puro café.</dd>
                                                    </dl>

                                                    <div class="m-t-sm">
                                                        <a href="#" class="text-muted">
                                                            <i class="fa fa-gift"></i> Agregar a Favoritos
                                                        </a>
                                                        |
                                                        <a href="#" class="text-muted">
                                                            <i class="fa fa-trash"></i> Eliminar del carrito
                                                        </a>
                                                    </div>
                                                </td>

                                                <td>
                                                    S/.20.00
                                                    <!-- <s class="small text-muted">$63,00</s>-->
                                                </td>
                                                <td width="65">
                                                    <input type="text" class="form-control" placeholder="2">
                                                </td>
                                                <td>
                                                    <h4>
                                                        S/.40.00
                                                    </h4>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table shoping-cart-table">

                                        <tbody>
                                            <tr>
                                                <td width="90">
                                                    <div class="cart-product-imitation">
                                                    </div>
                                                </td>
                                                <td class="desc">
                                                    <h3>
                                                        <a href="#" class="text-navy">
                                                            Café Molido Plus La Tranca
                                                        </a>
                                                    </h3>
                                                    <p class="small">
                                                        Selección de los mejores granos de Cajamarca.
                                                    </p>
                                                    <dl class="small m-b-none">
                                                        <dt>Descripción</dt>
                                                        <dd>Este producto contiene 500 gramos de puro café.</dd>
                                                    </dl>

                                                    <div class="m-t-sm">
                                                        <a href="#" class="text-muted">
                                                            <i class="fa fa-gift"></i> Agregar a Favotiros
                                                        </a>
                                                        |
                                                        <a href="#" class="text-muted">
                                                            <i class="fa fa-trash"></i> Eliminar del carrito
                                                        </a>
                                                    </div>
                                                </td>

                                                <td>
                                                    S/.40.00
                                                </td>
                                                <td width="65">
                                                    <input type="text" class="form-control" placeholder="2">
                                                </td>
                                                <td>
                                                    <h4>
                                                        S/.80.00
                                                    </h4>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table shoping-cart-table">

                                        <tbody>
                                            <tr>
                                                <td width="90">
                                                    <div class="cart-product-imitation">
                                                    </div>
                                                </td>
                                                <td class="desc">
                                                    <h3>
                                                        <a href="#" class="text-navy">
                                                            Café Tostado Plus La Tranca
                                                        </a>
                                                    </h3>
                                                    <p class="small">
                                                        Seleccionado de los mejores granos de Cajamarca.
                                                    </p>
                                                    <dl class="small m-b-none">
                                                        <dt>Descripción</dt>
                                                        <dd>Este producto contiene 500 gramos de puro café.</dd>
                                                    </dl>

                                                    <div class="m-t-sm">
                                                        <a href="#" class="text-muted">
                                                            <i class="fa fa-gift"></i> Agregar a Favoritos
                                                        </a>
                                                        |
                                                        <a href="#" class="text-muted">
                                                            <i class="fa fa-trash"></i> Eliminar de carrito
                                                        </a>
                                                    </div>
                                                </td>

                                                <td>
                                                    S/.50.00
                                                </td>
                                                <td width="65">
                                                    <input type="text" class="form-control" placeholder="1">
                                                </td>
                                                <td>
                                                    <h4>
                                                        S/.50.00
                                                    </h4>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table shoping-cart-table">

                                        <tbody>
                                            <tr>
                                                <td width="90">
                                                    <div class="cart-product-imitation">
                                                    </div>
                                                </td>
                                                <td class="desc">
                                                    <h3>
                                                        <a href="#" class="text-navy">
                                                            Café en Granos La Tranca
                                                        </a>
                                                    </h3>
                                                    <p class="small">
                                                        Selección de los mejores granos en la region de Cajamarca.
                                                    </p>
                                                    <dl class="small m-b-none">
                                                        <dt>Descripción</dt>
                                                        <dd>Este producto contiene 1000 gramos de puro café.</dd>
                                                    </dl>

                                                    <div class="m-t-sm">
                                                        <a href="#" class="text-muted">
                                                            <i class="fa fa-gift"></i> Agregar a Favoritos
                                                        </a>
                                                        |
                                                        <a href="#" class="text-muted">
                                                            <i class="fa fa-trash"></i> Eliminar del carro
                                                        </a>
                                                    </div>
                                                </td>

                                                <td>
                                                    S/.50.00
                                                </td>
                                                <td width="65">
                                                    <input type="text" class="form-control" placeholder="1">
                                                </td>
                                                <td>
                                                    <h4>
                                                        S/.50.00
                                                    </h4>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="ibox-content">
                                <a href="/Ventas/Transaccion">
                                    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">
                                        <i class="fa fa fa-shopping-cart"></i> Relizar pago
                                    </button>
                                </a>
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Pedido Enviado</h4>
                                            </div>
                                            <div class="modal-body">

                                                <p>
                                                    Gracias, por elegir a Café La TRANCA
                                                    <span class="fa fa-check col-lg-2"></span>
                                                </p>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <a href="/Productos/Index">
                                    <button class="btn btn-primary">
                                        <i class="fa fa-arrow-left"></i> Seguir viendo
                                    </button>
                                </a>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">

                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Total del la Compra</h5>
                            </div>
                            <div class="ibox-content">
                                <span>
                                    Total
                                </span>
                                <h2 class="font-bold">
                                    S/.235.00
                                </h2>

                                <hr />
                                <span class="text-muted small">
                                    *Incluido los impuestos en Perú.
                                </span>
                                <div class="m-t-sm">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-primary btn-sm">
                                            <i class="fa fa-shopping-cart"></i> Enviar
                                        </a>
                                        <a href="#" class="btn btn-white btn-sm"> Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Ayuda Telefonica</h5>
                            </div>
                            <div class="ibox-content text-center">
                                <h3>
                                    <i class="fa fa-phone"></i> 980591555
                                </h3>
                                <span class="small">
                                    Contactenos a nosotros si tiene alguna duda, estomos disponibles las 24 horas.
                                </span>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
