
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLaTranca.cshtml";
}

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>
                        <b>LA TRANCA</b>
                    </h1>
                    <p>Pasarella de pagos</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Start -->

<section id="portfolio-work">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="wrapper wrapper-content animated fadeInRight">


                        <div class="row">
                            <div class="col-md-4">
                                <div class="payment-card">
                                    <i class="fa fa-cc-visa payment-icon-big text-success"></i>
                                    <h2>
                                        **** **** **** 1060
                                    </h2>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <small>
                                                <strong>Fecha de expiración:</strong> 10/16
                                            </small>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <small>
                                                <strong>Nombre:</strong> Joshua Suasnabar
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="payment-card">
                                    <i class="fa fa-cc-mastercard payment-icon-big text-warning"></i>
                                    <h2>
                                        **** **** **** 7002
                                    </h2>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <small>
                                                <strong>Fecha de expiración:</strong> 10/16
                                            </small>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <small>
                                                <strong>Nombre:</strong> Joshua Suasnabar
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="payment-card">
                                    <i class="fa fa-cc-discover payment-icon-big text-danger"></i>
                                    <h2>
                                        **** **** **** 3466
                                    </h2>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <small>
                                                <strong>Fecha de expiración:</strong> 10/16
                                            </small>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <small>
                                                <strong>Nombre:</strong> Joshua Suasnabar
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-lg-12">

                                <div class="ibox">
                                    <div class="ibox-title">
                                        Método de pago
                                    </div>
                                    <div class="ibox-content">

                                        <div class="panel-group payments-method" id="accordion">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <div class="pull-right">
                                                        <i class="fa fa-cc-paypal text-success"></i>
                                                    </div>
                                                    <h5 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">PayPal</a>
                                                    </h5>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse">
                                                    <div class="panel-body">

                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <h2>Resumen</h2>
                                                                <strong>Monto</strong>: <span class="text-navy">S/ 452.90</span>

                                                                <p class="m-t">
                                                                    Gracias por confiar en La Tranca para la compra de cafe, al finalizar
                                                                    la transcacción le llegará un mail de confirmación con los detalles del
                                                                    envío de sus pedido.

                                                                    ¡La Tranca, el mejor cafe en el mejor lugar!

                                                                </p>

                                                                <a class="btn btn-success">
                                                                    <i class="fa fa-cc-paypal">
                                                                        Pagar vía PayPal
                                                                    </i>
                                                                </a>

                                                            </div>

                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <div class="pull-right">
                                                        <i class="fa fa-cc-amex text-success"></i>
                                                        <i class="fa fa-cc-mastercard text-warning"></i>
                                                        <i class="fa fa-cc-discover text-danger"></i>
                                                    </div>
                                                    <h5 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Tarjeta de crédito</a>
                                                    </h5>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse in">
                                                    <div class="panel-body">

                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <h2>Resumen</h2>
                                                                <strong>Monto</strong>: <span class="text-navy">S/ 452.90</span>

                                                                <p class="m-t">
                                                                    Gracias por confiar en La Tranca para la compra de cafe, al finalizar
                                                                    la transcacción le llegará un mail de confirmación con los detalles del
                                                                    envío de sus pedido. <br><br>

                                                                    ¡La Tranca, el mejor cafe en el mejor lugar!

                                                                </p>
                                                            </div>
                                                            <div class="col-md-8">

                                                                    <div class="row">
                                                                        <div class="col-xs-12">
                                                                            <div class="form-group">
                                                                                <label>Número de Tarjeta</label>
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control" name="Number" placeholder="XXXX XXXX XXXX XXXX" required />
                                                                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-7 col-md-7">
                                                                            <div class="form-group">
                                                                                <label>Fecha de expiración</label>
                                                                                <input type="text" class="form-control" name="Expiry" placeholder="MM / AA" required />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-5 col-md-5 pull-right">
                                                                            <div class="form-group">
                                                                                <label>Código CV</label>
                                                                                <input type="text" class="form-control" name="CVC" placeholder="CVC" required />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12">
                                                                            <div class="form-group">
                                                                                <label>Nombre del titular</label>
                                                                                <input type="text" class="form-control" name="nameCard" placeholder="Nombre y Apellido" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <a href="/Ventas/Confirmacion">
                                                                            <div class="col-xs-12">
                                                                                <button class="btn btn-primary" type="submit">¡PAGAR MI PEDIDO!</button>
                                                                            </div>
                                                                        </a>
                                                                       
                                                                    </div>

                                                            </div>

                                                        </div>






                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

