
@{
    ViewBag.Title = "InicioLaTranca";
    Layout = "~/Views/Shared/_LayoutLaTranca.cshtml";
}

<!-- Slider Start -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="block">
                    <h1 class="animated fadeInUp">EL MEJOR CAFÉ , <br> EN EL MEJOR LUGAR</h1>
                    <p class="animated fadeInUp">Bienvenido a Café LA TRANCA </br> Café en grano 100% natural</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>La Tranca</h2>
                        <p>Café LA TRANCA es una mezcla de granos seleccionados de las mejores regiones cafetaleras de Perú. El excelente café gourmet que ofrecemos es el resultado de un balance perfecto entre sabor, aroma, acidez, cuerpo y sabor residual, difícil de encontrar en ningún otro café del mundo.</p>
                    </div>
                    <div class="section-title">
                        <p>Enamórate del auténtico café de origen con la mejor selección de aromas provenientes de todos los rincones del mundo.</p>
                    </div>
                </div>
            </div><!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
                <div class="block">
                    <img src="~/Content_LaTranca/img/wrapper-img.gif" alt="Img">
                </div>
            </div><!-- .col-md-5 close -->
        </div>
    </div>
</section>

<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <h2><font color="white">CREEMOS EN GRANDES IDEAS</font></h2>
                <font color="white">
                    <p><font color="white">Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</font></p>
                    <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <a href="work.html" class="btn btn-view-works">Nuestros Productos</a>
            </div>
        </div>
    </div>
</section>
