
@{
    ViewBag.Title = "InicioLaTranca";
    Layout = "~/Views/Shared/_LayoutLaTranca.cshtml";
}
<!-- Slider Start -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="block">
                    <h1 class="animated fadeInUp">EL MEJOR CAFÉ , <br> EN EL MEJOR LUGAR</h1>
                    <p class="animated fadeInUp">Bienvenido a Café LA TRANCA </br> Café en grano 100% natural</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>La Tranca</h2>
                        <p>Café LA TRANCA es una mezcla de granos seleccionados de las mejores regiones cafetaleras de Perú. 
                        El excelente café gourmet que ofrecemos es el resultado de un balance perfecto entre sabor, aroma, acidez, 
                        cuerpo y sabor residual, difícil de encontrar en ningún otro café del mundo.</p>
                    </div>
                    <div class="section-title">
                        <p>Enamórate del auténtico café de origen con la mejor selección de aromas provenientes de todos los rincones del mundo.</p>
                    </div>
                </div>
            </div><!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
                <div class="block">
                    <img src="~/Content_LaTranca/img/wrapper-img.gif" alt="Img">
                </div>
            </div><!-- .col-md-5 close -->
        </div>
    </div>
</section>
<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <h2>
                    <font color="white">CREEMOS EN GRANDES IDEAS</font>
                </h2>
                <font color="white">
                    <h5>
                        <b>Mision</b>
                    </h5>
                    <p>
                        <font color="white">
                            La calidad total en el café desde su origen es nuestra pasión, que inicia en la siembra de los cafetos, cultivo,
                            cosecha, secado, tueste y selección del mejor empaque; garantizando plena satisfacción de nuestros clientes.
                            Comprometidos con el cuidado del medio ambiente, y la responsabilidad social, disfrutamos con lo que hacemos.
                        </font>
                    </p>
                    <h5>
                        <b>Vision</b>
                    </h5>
                    <p>
                        <font color="white">
                            Ser protagonistas únicos en la transformación cafetalera en nuestro país, referentes de confiabilidad, innovación
                            y excelencia en producción de café.
                        </font>
                    </p>
                    <p align="center">
                        <a href="/Productos/Index" class="btn btn-view-works" style="background-color: #FF9900">Nuestros Productos</a>
                    </p>
            </div>
        </div>
    </div>
</section>
