
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLaTranca.cshtml";
}

    <!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>
                        <b>La Tranca siempre a su servicio</b>
                    </h1>
                    <p>El mejor café en el mejor lugar.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- login form start -->


<section id="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>La Tranca</h2>
                        <p>Proximamente estaremos en estos eventos, para llegar a más hogares de nuestro lindo Perú.</p>
                    </div>
                </div>
</section>

<section id="aaa">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>Expo Café Perú</h2>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="block">
                            <img src="~/Content_LaTranca/img/expoperu.jpg" alt="Img">
                        </div>
                    </div>
                    <div class="section-title">
                        <ul class="address-block">
                            <li>
                                <i class="icon-calendar"></i>Del 19 al 24 de Octubre del 2017
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>Explanada del Parque de la Exposicion Av.28 de Julio
                            </li>
                            <li>
                                <i class="icon-earth"></i>Mas información en :
                                <a href="https://www.facebook.com/ExpoCafePeru/" target="_blank">https://www.facebook.com/ExpoCafePeru/</a>
                            </li>
                            <li>
                                <i class="icon-earth"></i>Como llegar :
                                <a href="https://wego.here.com/directions/mix//Expo-Caf%C3%A9-Per%C3%BA,-L-1-Lima,-Peru:e-eyJuYW1lIjoiRXhwbyBDYWZcdTAwZTkgUGVyXHUwMGZhIiwiYWRkcmVzcyI6IkwgMSBMaW1hIiwibGF0aXR1ZGUiOi0xMi4wNjI4MjQ0NzE1NTMsImxvbmdpdHVkZSI6LTc3LjAzNzI2NzI4MzMyNiwicHJvdmlkZXJOYW1lIjoiZmFjZWJvb2siLCJwcm92aWRlcklkIjoxNzU3NzkzNDU4MzEyMTl9?map=-12.06282,-77.03727,15,normal&fb_locale=es_LA"
                                   target="_blank">Google Map</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-7 close -->
        </div>
    </div>
</section>

<section id="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>Expo Café Perú</h2>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="block">
                            <img src="~/Content_LaTranca/img/expoperu.jpg" alt="Img">
                        </div>
                    </div>
                    <div class="section-title">
                        <ul class="address-block">
                            <li>
                                <i class="icon-calendar"></i>Del 19 al 24 de Octubre del 2017
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>Explanada del Parque de la Exposicion Av.28 de Julio
                            </li>
                            <li>
                                <i class="icon-earth"></i>Mas información en :
                                <a href="https://www.facebook.com/Caf%C3%A9-La-Tranca-459921864391849/" target="_blank">https://www.facebook.com/Caf%C3%A9-La-Tranca-459921864391849/</a>
                            </li>
                            <li>
                                <i class="icon-earth"></i>Como llegar :
                                <a href="https://wego.here.com/directions/mix//Expo-Caf%C3%A9-Per%C3%BA,-L-1-Lima,-Peru:e-eyJuYW1lIjoiRXhwbyBDYWZcdTAwZTkgUGVyXHUwMGZhIiwiYWRkcmVzcyI6IkwgMSBMaW1hIiwibGF0aXR1ZGUiOi0xMi4wNjI4MjQ0NzE1NTMsImxvbmdpdHVkZSI6LTc3LjAzNzI2NzI4MzMyNiwicHJvdmlkZXJOYW1lIjoiZmFjZWJvb2siLCJwcm92aWRlcklkIjoxNzU3NzkzNDU4MzEyMTl9?map=-12.06282,-77.03727,15,normal&fb_locale=es_LA"
                                   target="_blank">Google Map</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-7 close -->
        </div>
    </div>
</section>
<section id="aaa">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>Expo Café Perú</h2>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="block">
                            <img src="~/Content_LaTranca/img/expoperu.jpg" alt="Img">
                        </div>
                    </div>
                    <div class="section-title">
                        <ul class="address-block">
                            <li>
                                <i class="icon-calendar"></i>Del 19 al 24 de Octubre del 2017
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>Explanada del Parque de la Exposicion Av.28 de Julio
                            </li>
                            <li>
                                <i class="icon-earth"></i>Mas información en :
                                <a href="https://www.facebook.com/Caf%C3%A9-La-Tranca-459921864391849/" target="_blank">https://www.facebook.com/Caf%C3%A9-La-Tranca-459921864391849/</a>
                            </li>
                            <li>
                                <i class="icon-earth"></i>Como llegar :
                                <a href="https://wego.here.com/directions/mix//Expo-Caf%C3%A9-Per%C3%BA,-L-1-Lima,-Peru:e-eyJuYW1lIjoiRXhwbyBDYWZcdTAwZTkgUGVyXHUwMGZhIiwiYWRkcmVzcyI6IkwgMSBMaW1hIiwibGF0aXR1ZGUiOi0xMi4wNjI4MjQ0NzE1NTMsImxvbmdpdHVkZSI6LTc3LjAzNzI2NzI4MzMyNiwicHJvdmlkZXJOYW1lIjoiZmFjZWJvb2siLCJwcm92aWRlcklkIjoxNzU3NzkzNDU4MzEyMTl9?map=-12.06282,-77.03727,15,normal&fb_locale=es_LA"
                                   target="_blank">Google Map</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-7 close -->
        </div>
    </div>
</section>
<section id="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>Expo Café Perú</h2>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="block">
                            <img src="~/Content_LaTranca/img/expoperu.jpg" alt="Img">
                        </div>
                    </div>
                    <div class="section-title">
                        <ul class="address-block">
                            <li>
                                <i class="icon-calendar"></i>Del 19 al 24 de Octubre del 2017
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>Explanada del Parque de la Exposicion Av.28 de Julio
                            </li>
                            <li>
                                <i class="icon-earth"></i>Mas información en :
                                <a href="https://www.facebook.com/Caf%C3%A9-La-Tranca-459921864391849/" target="_blank">https://www.facebook.com/Caf%C3%A9-La-Tranca-459921864391849/</a>
                            </li>
                            <li>
                                <i class="icon-earth"></i>Como llegar :
                                <a href="https://wego.here.com/directions/mix//Expo-Caf%C3%A9-Per%C3%BA,-L-1-Lima,-Peru:e-eyJuYW1lIjoiRXhwbyBDYWZcdTAwZTkgUGVyXHUwMGZhIiwiYWRkcmVzcyI6IkwgMSBMaW1hIiwibGF0aXR1ZGUiOi0xMi4wNjI4MjQ0NzE1NTMsImxvbmdpdHVkZSI6LTc3LjAzNzI2NzI4MzMyNiwicHJvdmlkZXJOYW1lIjoiZmFjZWJvb2siLCJwcm92aWRlcklkIjoxNzU3NzkzNDU4MzEyMTl9?map=-12.06282,-77.03727,15,normal&fb_locale=es_LA"
                                   target="_blank">Google Map</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-7 close -->
        </div>
    </div>
</section>
<section id="aaa">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>Expo Café Perú</h2>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="block">
                            <img src="~/Content_LaTranca/img/wrapper-img.gif" alt="Img">
                        </div>
                    </div>
                    <div class="section-title">
                        <ul class="address-block">
                            <li>
                                <i class="icon-calendar"></i>Del 19 al 24 de Octubre del 2017
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>Explanada del Parque de la Exposicion Av.28 de Julio
                            </li>
                            <li>
                                <i class="icon-earth"></i>Mas información en :
                                <a href="https://www.facebook.com/Caf%C3%A9-La-Tranca-459921864391849/" target="_blank">https://www.facebook.com/Caf%C3%A9-La-Tranca-459921864391849/</a>
                            </li>
                            <li>
                                <i class="icon-earth"></i>Como llegar :
                                <a href="https://wego.here.com/directions/mix//Expo-Caf%C3%A9-Per%C3%BA,-L-1-Lima,-Peru:e-eyJuYW1lIjoiRXhwbyBDYWZcdTAwZTkgUGVyXHUwMGZhIiwiYWRkcmVzcyI6IkwgMSBMaW1hIiwibGF0aXR1ZGUiOi0xMi4wNjI4MjQ0NzE1NTMsImxvbmdpdHVkZSI6LTc3LjAzNzI2NzI4MzMyNiwicHJvdmlkZXJOYW1lIjoiZmFjZWJvb2siLCJwcm92aWRlcklkIjoxNzU3NzkzNDU4MzEyMTl9?map=-12.06282,-77.03727,15,normal&fb_locale=es_LA"
                                   target="_blank">Google Map</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-7 close -->
        </div>
    </div>
</section>
<section id="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>Expo Café Perú</h2>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="block">
                            <img src="~/Content_LaTranca/img/wrapper-img.gif" alt="Img">
                        </div>
                    </div>
                    <div class="section-title">
                        <ul class="address-block">
                            <li>
                                <i class="icon-calendar"></i>Del 19 al 24 de Octubre del 2017
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>Explanada del Parque de la Exposicion Av.28 de Julio
                            </li>
                            <li>
                                <i class="icon-earth"></i>Mas información en :
                                <a href="https://www.facebook.com/Caf%C3%A9-La-Tranca-459921864391849/" target="_blank">https://www.facebook.com/Caf%C3%A9-La-Tranca-459921864391849/</a>
                            </li>
                            <li>
                                <i class="icon-earth"></i>Como llegar :
                                <a href="https://wego.here.com/directions/mix//Expo-Caf%C3%A9-Per%C3%BA,-L-1-Lima,-Peru:e-eyJuYW1lIjoiRXhwbyBDYWZcdTAwZTkgUGVyXHUwMGZhIiwiYWRkcmVzcyI6IkwgMSBMaW1hIiwibGF0aXR1ZGUiOi0xMi4wNjI4MjQ0NzE1NTMsImxvbmdpdHVkZSI6LTc3LjAzNzI2NzI4MzMyNiwicHJvdmlkZXJOYW1lIjoiZmFjZWJvb2siLCJwcm92aWRlcklkIjoxNzU3NzkzNDU4MzEyMTl9?map=-12.06282,-77.03727,15,normal&fb_locale=es_LA"
                                   target="_blank">Google Map</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-7 close -->
        </div>
    </div>
</section>




