
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLaTranca.cshtml";
}

    <!-- Slider Start -->
    <section id="global-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1><b>Envienos sus comentarios</b></h1>
                        <p>La Tranca siempre a su servicio.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact form start -->
    <section id="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="block">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Ingrese su nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Ingrese su correo electronico">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Asunto">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="block">
                    <form>
                        <div class="form-group-2">
                            <textarea class="form-control" rows="3" placeholder="Ingrese su Mensaje"></textarea>
                        </div>
                        <button class="btn btn-default" type="submit">Enviar Mensaje</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="contact-box" class="row">
            <div class="col-md-6 col-sm-12">
                <div class="block">
                    <h2>Visitanos en :</h2>
                    <ul class="address-block">
                        <li>
                            <i class="fa fa-map-marker"></i>Chirinos,Cajamarca, Perú
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>Telefono : 957 558 279
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>Email: empresanacionaldelcafesac@gmail.com
                        </li>
                    </ul>
                    <ul class="social-icons">
                        <li>
                            <a href="#"><i class="fa fa-google"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="block">
                    <h2>Encuentranos por Google Map</h2>
                    <div class="google-map">
                        <iframe class="col-md-12"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13639.981245830366!2d-78.90561278035882!3d-5.301454472457792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91b513304dafc031%3A0x33c0b464c0919d60!2zQ2hpcmlub3MsIFBlcsO6!5e1!3m2!1ses!2ses!4v1505079676552" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
