
@{
    ViewBag.Title = "ExitoRegistroUsuario";
    Layout = "~/Views/Shared/_LayoutLaTranca.cshtml";
}


<link href="~/Content_LaTranca/css/animate1.css" rel="stylesheet" />
<link href="~/Content_LaTranca/css/style1.css" rel="stylesheet" />


<h2><font color="white">Se le estara enviando un correo con su acceso al sistema.</font> </h2>
<h2><font color="white">Gracias por su preferencia.</font> </h2>

