
@{
    ViewBag.Title = "LoginLaTranca";
    Layout = "~/Views/Shared/_LayoutLaTranca.cshtml";
}

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1><b>La Tranca siempre a su servicio</b></h1>
                    <p>El mejor café en el mejor lugar.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- login form start -->

<section id="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-sm-12">
                <div class="block">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Ingrese su usuario">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Contraseña">
                        </div>
                        <div class="form-group">
                            <a href="#">Registrase</i>
                        </div>
                        <form>
                            <button class="btn btn-default" type="submit">Entrar</button>
                        </form>
                    </form>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

    </div>
</section>

